In [1]:
import pandas as pd

In [22]:
file_one = "/Users/georgesehremelis/Downloads/LABusinesses/inspections.csv"

In [23]:
file_one_df = pd.read_csv(file_one)

In [24]:
file_one_df.head()

  business_id  score      date  description     type
0   PR0014182     95  20170207          NaN  Routine
1   PR0005730     99  20161216          NaN  Routine
2   PR0003877     96  20170105          NaN  Routine
3   PR0014471     98  20180921          NaN  Routine
4   PR0003383     99  20170818          NaN  Routine

In [45]:
file_two = "/Users/georgesehremelis/Downloads/LABusinesses/businesses.csv"

In [46]:
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [47]:
file_two_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,PR0000206,JOSYLN SENIOR CENTER,210 N CHAPEL AVE,ALHAMBRA,CA,91801,34.098526,-118.124767,626-960-2995
1,PR0000213,STARBUCKS COFFEE #9685,145 N CITRUS AVE,COVINA,CA,91723,34.087327,-117.890460,NaN
2,PR0000250,VFW POST NO. 6110,16555 SIERRA HWY,CANYON COUNTRY,CA,91351-1338,34.447567,-118.426207,661-252-9989
3,PR0000273,STABUCKS @ VONS #2066,18439 VENTURA BLVD,TARZANA,CA,91356,34.168381,-118.534570,NaN
4,PR0000278,COCOHODO TORRANCE,2734 SEPULVEDA BLVD,TORRANCE,CA,90505,33.822488,-118.333178,310-530-3875